.registerForm {
  & form {
    display: grid;
    padding: var(--size-4);
    padding-bottom: var(--size-8);
    border-radius: var(--radius-md);
    background-color: var(--color-teal-950);
    grid-template-columns: var(--grid-6);
    gap: var(--size-2) var(--size-4);
  }

  & h1 {
    font: var(--font-heading-lg);
    padding: var(--size-4);
    position: relative;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-4);
  margin: var(--size-4) 0;
}
