@import "preflight.css";
@import "pollen.css";

:root {
  --ff-sans: "sans-serif";
  --ff-serif: "serif";
  --lighten-10: rgb(255 255 255 / 10%);
  --lighten-20: rgb(255 255 255 / 20%);
  --lighten-30: rgb(255 255 255 / 30%);
  --lighten-40: rgb(255 255 255 / 40%);
  --lighten-50: rgb(255 255 255 / 50%);
  --lighten-60: rgb(255 255 255 / 60%);
  --lighten-70: rgb(255 255 255 / 70%);
  --lighten-80: rgb(255 255 255 / 80%);
  --lighten-90: rgb(255 255 255 / 90%);
  --darken-10: rgb(0 0 0 / 10%);
  --darken-20: rgb(0 0 0 / 20%);
  --darken-30: rgb(0 0 0 / 30%);
  --darken-40: rgb(0 0 0 / 40%);
  --darken-50: rgb(0 0 0 / 50%);
  --darken-60: rgb(0 0 0 / 60%);
  --darken-70: rgb(0 0 0 / 70%);
  --darken-80: rgb(0 0 0 / 80%);
  --darken-90: rgb(0 0 0 / 90%);
}

/* Globals */
body {
  --scroll-pos: 0px;

  /* Fallback values, these are replaced in _layout.tsx */
  --ff-body: var(--ff-sans);
  --ff-display: var(--ff-sans);

  /* Font variables for ease of use, base pollen.css vars can still be used for overrides */
  --font-button: var(--scale-00) / 1 var(--ff-display);
  --font-body-sm: 300 var(--scale-00) / 1.6 var(--ff-body);
  --font-body: 300 var(--scale-1) / 1.5 var(--ff-body);
  --font-heading-xs: 500 var(--scale-1) / 1.3 var(--ff-display);
  --font-heading-sm: 500 var(--scale-fluid-2) / 1.3 var(--ff-display);
  --font-heading-md: 500 var(--scale-fluid-3) / 1.2 var(--ff-display);
  --font-heading-lg: 700 var(--scale-fluid-4) / 1.2 var(--ff-display);
  --font-heading-xl: 700 var(--scale-fluid-5) / 1.1 var(--ff-display);

  font: var(--font-body);
  background-color: var(--color-black);
  color: var(--color-white);
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 var(--size-2);
  width: 100%;

  @media (min-width: 480px) {
    max-width: var(--width-xs);
  }
  @media (min-width: 640px) {
    max-width: var(--width-sm);
  }
  @media (min-width: 768px) {
    max-width: var(--width-md);
  }
  @media (min-width: 1024px) {
    max-width: var(--width-lg);
  }
  @media (min-width: 1280px) {
    max-width: var(--width-xl);
  }
}
