@import "preflight.css";
@import "pollen.css";

:root {
  --ff-sans: "sans-serif";
  --ff-serif: "serif";
  --lighten-10: rgb(255 255 255 / 10%);
  --lighten-20: rgb(255 255 255 / 20%);
  --lighten-30: rgb(255 255 255 / 30%);
  --lighten-40: rgb(255 255 255 / 40%);
  --lighten-50: rgb(255 255 255 / 50%);
  --lighten-60: rgb(255 255 255 / 60%);
  --lighten-70: rgb(255 255 255 / 70%);
  --lighten-80: rgb(255 255 255 / 80%);
  --lighten-90: rgb(255 255 255 / 90%);
  --darken-10: rgb(0 0 0 / 10%);
  --darken-20: rgb(0 0 0 / 20%);
  --darken-30: rgb(0 0 0 / 30%);
  --darken-40: rgb(0 0 0 / 40%);
  --darken-50: rgb(0 0 0 / 50%);
  --darken-60: rgb(0 0 0 / 60%);
  --darken-70: rgb(0 0 0 / 70%);
  --darken-80: rgb(0 0 0 / 80%);
  --darken-90: rgb(0 0 0 / 90%);
}

/* Globals */
body {
  --scroll-pos: 0px;

  /* Fallback values, these are replaced in _layout.tsx */
  --ff-body: var(--font-sans);
  --ff-display: var(--font-sans);

  /* Font variables for ease of use, base pollen.css vars can still be used for overrides */
  --font-button: 600 var(--scale-00) / 1 var(--font-mono);
  --font-body-sm: 400 var(--scale-00) / 1.6 var(--ff-body);
  --font-body: 400 var(--scale-1) / 1.5 var(--ff-body);
  --font-heading-xs: 500 var(--scale-1) / 1.3 var(--ff-display);
  --font-heading-sm: 500 var(--scale-fluid-2) / 1.3 var(--ff-display);
  --font-heading-md: 500 var(--scale-fluid-3) / 1.2 var(--ff-display);
  --font-heading-lg: 700 var(--scale-fluid-4) / 1.2 var(--ff-display);
  --font-heading-xl: 700 var(--scale-fluid-5) / 1.1 var(--ff-display);

  font: var(--font-body);
  background-color: var(--color-black);
  color: var(--color-white);
  scroll-behavior: smooth;

  background-image:
    radial-gradient(circle at 20% 30%, rgb(20 78 74 / 40%) 0%, transparent 50%),
    radial-gradient(circle at 80% 70%, rgb(4 47 46 / 40%) 0%, transparent 50%),
    linear-gradient(to bottom, rgb(4 47 46 / 40%), transparent);
  background-attachment: fixed;
}

*:focus {
  outline: 2px solid var(--color-teal-300);
  outline-offset: 2px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--size-4);
  width: 100%;
  max-width: var(--width-md);
}
