/** biome-ignore-all lint/correctness/noUnknownPseudoClass: <explanation> */
:root {
	--color-white-opacity: var(--color-opacity, 100%);
	--color-white: rgb(255 255 255 / var(--color-white-opacity));
}

.button {
	display: block;
	border-radius: var(--rounded-sm);
	cursor: pointer;
	font: var(--font-body-sm);
	font-family: var(--font-mono);
	padding: var(--size-3) var(--size-4);
	text-align: left;

	&.hasIcon {
		padding: var(--size-3);
	}

	&.hasIcon.hasText {
		padding: var(--size-3) var(--size-4);
	}

	&:global(.variant-primary) {
		background-color: var(--color-teal-400);
		color: var(--color-teal-950);

		&:hover,
		&:focus {
			background-color: var(--color-teal-300);
		}
	}

	&:global(.variant-secondary) {
		--color-white-opacity: 6%;
		background-color: var(--color-white);

		&:hover,
		&:focus {
			--color-white-opacity: 12%;
		}
	}

	&:global(.variant-link) {
		--color-white-opacity: 0%;
		background-color: var(--color-white);

		&:hover,
		&:focus {
			--color-white-opacity: 6%;
		}
	}
}
