.form {
  display: grid;
  grid-template-columns: var(--grid-6);

  & > * {
    grid-column: auto / span var(--cols, 6);
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-4);
  margin-top: var(--size-4);
}
